footer{
    background: #000000e1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 16%;

    .logo{
        width: 75px;
    }
}

.ft-list{
    margin-top: 0;
    padding-top: 0;
}

.ft-head{
    margin-top: 0;
    padding-top: 0;
    font-weight: 300;
    color: #535050;
    margin-bottom: 1.5rem;
}

.ft-item{
    font-size: 0.9rem;
    font-weight: 100;
    margin-bottom: 0.6rem;
    cursor: pointer;
}