.sec-2-div {
    margin: 20px 0;
    display: flex;
    height: 75vh;
    gap: 20px;
}

.sec-2-img {
    width: 49%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sec-2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background: #e8e4e4;

    h2{
        font-size: 45px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h3{
        margin-top: 0;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    p{
        width: 70%;
        font-weight: 200;
    }

    button{
        padding: 1rem 2rem;
        border-radius: 10px;
        border:1px solid #000 ;
        margin-top: 10px;
    }

    button:hover {
        border-color: #fff;
        background-color: #000000bb;
        color: #fff;
        transition: all 0.5s ease;
    }
}

#sec-2-img-2 {
    order: 2;
    // width: ;
}

.sec-2-foot{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.foot-num{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0;
}

.foot-detail{
    margin-top: 0;
}

@media (max-width:950px) {
    .sec-2-div{
        height: 55vh;
    }

    .sec-2-info {
        h2{
            font-size: 35px;
        }

        p{
            font-size: 0.75rem;
        }
    }
}


@media (max-width:600px) {

    .sec-2-img {
        width: auto;
    }

    #sec-2-img-1{
        width: 0;
    }

    .sec-2-div{
        flex-direction: column;
    }

    .sec-2-info{
        gap: 0;
        padding-bottom: 1rem;
    }
}