.sec-2-div,.sec-3-div-1 {
    margin: 20px 0;
    display: flex;
    height: auto;
    gap: 20px;
}

.sec-2-img,.sec-3-img-1 {
    width: 49%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}

.sec-2-info,.sec-3-info-1 {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background: #e8e4e4;

    h2{
        font-size: 45px;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 46px;
        font-weight: 100;
    }

    h3{
        margin-top: 0;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    p{
        width: 70%;
        font-weight: 200;
        color: #000000be;
    }

    button{
        padding: 1rem 2rem;
        border-radius: 10px;
        border:1px solid #000 ;
        margin-top: 10px;
    }

    button:hover {
        border-color: #fff;
        background-color: #000000bb;
        color: #fff;
        transition: all 0.5s ease;
    }
}

#sec-2-img-2 {
    order: 2;
    // width: ;
}

.sec-2-foot{
    width: 90%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.foot-item{
    width: 20%;
    text-align: center;
}

.foot-num{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0;
}

.foot-detail{
    margin-top: 0;
}

@media (max-width:950px) {

    .sec-2-info, .sec-3-info-1 {
        h2{
            font-size: 35px;
            line-height: 37px;
        }

        p{
            font-size: 0.75rem;
        }
    }

    .sec-2-foot{
        flex-wrap: wrap;
    }

    .foot-item {
        width: 50%;
    }
}


@media (max-width:600px) {

    .sec-2-img,.sec-3-img-1 {
        width: auto;
    }

    #sec-2-img-1{
        width: 0;
        height: 0;
    }

    .sec-2-div,.sec-3-div-1{
        flex-direction: column;
    }

    .sec-2-info, .sec-3-info-1{
        gap: 0;
        padding-bottom: 1rem;
    }
}