* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  position: relative;
  margin: 20px;
  overflow-x: hidden;
}

main {
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  z-index: 10;
}
header .logo {
  margin-left: 6.5%;
  width: 65px;
  cursor: pointer;
}

#nav-btn {
  position: relative;
  background: transparent;
  margin-right: 2%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
}

#nav-bgr {
  position: relative;
  width: 25px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  border: none;
}

#nav-bgr::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  left: 0;
  top: -5px;
  transition: all 0.5s ease;
}

#nav-bgr::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  border-radius: 20px;
  left: 0;
  top: 6px;
  transition: all 0.5s ease;
}

nav {
  position: absolute;
  left: 250px;
  z-index: 9;
}

.nav-list {
  height: 10vh;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

.nav-item {
  cursor: pointer;
}

#black-logo {
  width: 120px;
  display: none;
}

@media (max-width: 950px) {
  header .logo {
    margin-left: 4%;
    width: 40px;
  }
  #nav-btn {
    display: flex;
  }
  .nav-btn-active #nav-bgr {
    background-color: #000;
    height: 0;
  }
  .nav-btn-active #nav-bgr::after {
    background-color: #000;
    transform: rotate(45deg);
    top: 0;
  }
  .nav-btn-active #nav-bgr::before {
    background-color: #000;
    transform: rotate(-45deg);
    top: 0;
  }
  nav {
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #fff;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .nav-list {
    margin-top: 5rem;
    width: 100%;
    height: 50vh;
    color: #000;
    flex-direction: column;
    text-align: center;
  }
  .nav-item {
    font-size: 0.9rem;
    opacity: 0.7;
    transition: all 0.5s ease;
  }
  .nav-item:hover {
    opacity: 1;
    scale: 1.2;
  }
  #black-logo {
    display: block;
  }
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
  }
}
#home-sec {
  position: relative;
  width: 100%;
  height: 95.5vh;
  color: #fff;
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.5s ease;
}

#slide-img-1 {
  background: url("https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/5527a395e02754bb57746389_slider1.jpg") center;
  background-size: cover;
}

#slide-img-2 {
  background: url("https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299d1b0108cf394df61d5a_sheep.jpeg") center;
  background-size: cover;
}

#slide-img-3 {
  background: url("https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299e51264213136f7d6a43_hoop.jpg") bottom;
  background-size: cover;
}

.active-img {
  opacity: 1;
}

.slide-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 35px;
  margin: 0 10px;
}

#left-btn {
  left: 0;
}

#right-btn {
  right: 0;
}

.home-text {
  padding-right: 13%;
}

.big-text {
  text-align: right;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 0;
  line-height: 50px;
}

.secondary-text {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  margin-right: 3px;
}

@media (max-width: 950px) {
  .home-text {
    transform: translateY(-180px);
  }
  .big-text {
    font-size: 35px;
    padding-right: 0;
  }
  .secondary-text {
    font-size: 14px;
  }
}
.sec-2-div, .sec-3-div-1 {
  margin: 20px 0;
  display: flex;
  height: auto;
  gap: 20px;
}

.sec-2-img, .sec-3-img-1 {
  width: 49%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sec-2-info, .sec-3-info-1 {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  background: #e8e4e4;
}
.sec-2-info h2, .sec-3-info-1 h2 {
  font-size: 45px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 46px;
  font-weight: 100;
}
.sec-2-info h3, .sec-3-info-1 h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.sec-2-info p, .sec-3-info-1 p {
  width: 70%;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7450980392);
}
.sec-2-info button, .sec-3-info-1 button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid #000;
  margin-top: 10px;
}
.sec-2-info button:hover, .sec-3-info-1 button:hover {
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.7333333333);
  color: #fff;
  transition: all 0.5s ease;
}

#sec-2-img-2 {
  order: 2;
}

.sec-2-foot {
  width: 90%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}

.foot-item {
  width: 20%;
  text-align: center;
}

.foot-num {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0;
}

.foot-detail {
  margin-top: 0;
}

@media (max-width: 950px) {
  .sec-2-info h2, .sec-3-info-1 h2 {
    font-size: 35px;
    line-height: 37px;
  }
  .sec-2-info p, .sec-3-info-1 p {
    font-size: 0.75rem;
  }
  .sec-2-foot {
    flex-wrap: wrap;
  }
  .foot-item {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .sec-2-img, .sec-3-img-1 {
    width: auto;
  }
  #sec-2-img-1 {
    width: 0;
    height: 0;
  }
  .sec-2-div, .sec-3-div-1 {
    flex-direction: column;
  }
  .sec-2-info, .sec-3-info-1 {
    gap: 0;
    padding-bottom: 1rem;
  }
}
.flex-div {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  gap: 20px;
}

.flex-div-item {
  background-color: #e8e4e4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  transition: all 0.5s ease;
}
.flex-div-item img {
  width: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.flex-div-item .primary-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9058823529);
  margin: 0;
  padding: 0;
}
.flex-div-item .flex-div-info {
  width: 80%;
  font-size: 0.9rem;
  margin-bottom: 5rem;
  color: rgba(0, 0, 0, 0.6901960784);
}

.flex-div-item:nth-child(1):hover {
  background-color: rgba(205, 222, 203, 0.9058823529);
}

.flex-div-item:nth-child(2):hover {
  background-color: rgba(222, 200, 200, 0.9058823529);
}

.flex-div-item:nth-child(3):hover {
  background-color: rgba(193, 201, 216, 0.9058823529);
}

.quote-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 50vh;
}
.quote-sec .primary-text {
  font-size: 2.75rem;
  font-weight: 800;
  padding: 4px;
  margin: 0;
  line-height: 2.5rem;
}
.quote-sec .secondary-text {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8784313725);
  font-size: 17px;
  font-style: italic;
  text-align: center;
}

.quote-list {
  position: relative;
  height: 100px;
  width: 100%;
}

.quote-item {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  position: absolute;
  opacity: 0.9;
}

#quote-item-1 {
  opacity: 0;
  animation-name: slowchange;
  animation-duration: 10s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

#quote-item-2 {
  animation-name: slowchange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.quote {
  font-size: 20px;
  font-style: italic;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.quote-author {
  font-size: 20px;
}

@keyframes slowchange {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 800px) {
  .flex-div {
    flex-direction: column;
  }
  .quote-sec {
    height: 40vh;
  }
  .quote-sec .primary-text {
    font-size: 2.2rem;
  }
  .quote-sec .secondary-text {
    font-size: 15px;
  }
  .quote {
    font-size: 16px;
    line-height: 16px;
  }
  .quote-author {
    font-size: 16px;
  }
}
.img-sec {
  width: 100%;
}

.img-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img-div {
  position: relative;
  width: 24%;
  height: 50vh;
  margin: 20px 0;
}
.img-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-div .img-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
}
.img-div .img-text p {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  text-align: center;
}
.img-div .img-text:hover {
  opacity: 1;
  transition: all 1s ease;
}

.non-img-div .primary-text {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
}
.non-img-div .secondary-text {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 14px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 50px;
}
.non-img-div .non-img-para {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7803921569);
  width: 80%;
}

@media (max-width: 800px) {
  .img-list {
    flex-wrap: wrap;
  }
  .img-div {
    width: 48%;
    height: 30vh;
  }
  .non-img-para {
    display: none;
  }
}
.form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
  align-items: center;
  height: 80vh;
}
.form-sec .primary-text {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.form-sec .form-head {
  text-align: center;
}
.form-sec .secondary-text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.form-sec form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 100%;
}
.form-sec form input {
  width: 95%;
  max-width: 725px;
  height: 35px;
  border: 1px solid #e4e4e4;
  color: #e4e4e4;
  outline: none;
}
.form-sec form input:active {
  border: 1px solid #e4e4e4;
}
.form-sec form label {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8392156863);
}

#s-submit {
  background: none;
  border: 1px solid #000;
  color: #7e7b7b;
  width: 110px;
  height: 50px;
  font-weight: 100;
  margin-top: 40px;
}

#s-massage {
  height: 70px;
}

#s-submit:hover {
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.5843137255);
  color: #fff;
  transition: all 0.5s ease;
}

footer {
  background: rgba(0, 0, 0, 0.8823529412);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 16%;
}
footer .logo {
  width: 75px;
}

.ft-list {
  margin-top: 0;
  padding-top: 0;
}

.ft-head {
  margin-top: 0;
  padding-top: 0;
  font-weight: 300;
  color: #535050;
  margin-bottom: 1.5rem;
}

.ft-item {
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.big-img-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6784313725);
  display: none;
}

img.big-img {
  width: 100%;
  max-width: 900px;
}

img.small-img {
  width: 100px;
}/*# sourceMappingURL=style.css.map */